<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="libs/jquery.min.js"></script>
    <script src="libs/handlebars-v3.0.1.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">功能模块</div>
    <div style="padding: 10px 0 20px 10px;">
        <div class="row" id="main_function_block">

        </div>
    </div>
</div>
<script src="js/views/main.js"></script>
</body>

</html>

<script id="tpl" type="text/x-handlebars-template">
    <div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" style="height: 286px;">
            <a href="https://webpack.bootcss.com/" title="SMT " target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'webpack'])">
                <img class="lazy" src="{{img_src}}" width="300" height="150" data-src="https://static.bootcss.com/www/assets/img/webpack.png?1500952971813" alt="Webpack ">
            </a>
            <div class="caption text-center">
                <h3>
                    <a href="https://webpack.bootcss.com/" title="{{img_title}}" target="_blank" >{{img_detail}}<br><small></small></a>
                </h3>
                <p></p>
            </div>
        </div>
    </div>
</script>